@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --border: 0 0% 90%;

 
    --primary: 0 85% 48%;
    --primary-foreground: 0 0% 100%;
    --ring: 0 85% 48%;

    --muted-foreground: 0 0% 45%;
    --destructive: 0 85% 48%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
